<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/detail.css">
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/detail.js"></script>
    <title>user information</title>
</head>

<body>
    <div id="position">
        <p class="error">hint</p>
        <form method="POST">
            <h1>详情</h1>
            <br>
            <br>
            <span class="detail">用户名:</span>
            <span class="message">Username</span>
            <br>
            <br>
            <span class="detail">学号:</span>
            <span class="message">ID</span>
            <br>
            <br>
            <span class="detail">电话:</span>
            <span class="message">Phone</span>
            <br>
            <br>
            <span class="detail">邮箱:</span>
            <span class="message">Email</span>
            <input type="submit" name="" value="注销" class="logout">
        </form>
    </div>
</body>