html,
body {
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

.p {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 400px;
    top: 75px;
    opacity: 0;
    transition: all 0.5s;
}

.p.photo {
    opacity: 1;
}

#content {
    margin: 0px auto;
    padding: 0px;
    width: 354px;
    height: 354px;
    position: relative;
}

#content .imgs {
    width: 87.5px;
    height: 87.5px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    border: 1px gray solid;
    transition: all 0.3s;
}

#content .imgs:hover {
    width: 90px;
    height: 90px;
    z-index: 999;
}

#l1,
#l2,
#l3,
#l4 {
    top: 0px;
}

#l5,
#l6,
#l7,
#l8 {
    top: 88.5px;
}

#l9,
#l10,
#l11,
#l12 {
    top: 177px;
}

#l13,
#l14,
#l15,
#l16 {
    top: 265.5px;
}

#l1,
#l5,
#l9,
#l13 {
    left: 0px;
}

#l2,
#l6,
#l10,
#l14 {
    left: 88.5px;
}

#l3,
#l7,
#l11,
#l15 {
    left: 177px;
}

#l4,
#l8,
#l12,
#l16 {
    left: 265.5px;
}

.blank {
    width: 88.5px;
    height: 88.5px;
    position: absolute;
    transition: all 0.5s;
}

.Bt {
    width: 248px;
    margin: 0px auto;
}


#restart {
    font-size: 18px;
}

#show {
    font-size: 17px;
}

.bt {
    border: none;
    display: inline-block;
    margin: 0px auto;
    width: 120px;
    height: 40px;
    background-color: #4286F5;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    outline: none;
}

.click {
    background-color: #D2691E;
}